<div class="container-fluid outerdiv">
	<noscript>
		<div class="nojs">Javascript is either disabled or not supported in your browser. Please enable it or use a Javascript enabled browser.</div>
	</noscript>
	<span class="span-style">
	<!--div class="banner">
    	<div class="container">
        	<div class="header-text">
            	<!--p class="big-text">Let's Give A New Shape To India</p>
                <h2>We Need Your Creative Thoughts</h2>
                <p class="small-text">A Try To Make India Corruption Free By <a href="#/">EliteOFIndia </a> and Your Support</p-->
				<div class="container">
					<div class="header-text button-section">
						<ul>
							<li><a class="top-button green">Hits : {{ hits }}</a></li>
							<li><a href="#/" class="top-button green">Coming Soon...</a></li>
						</ul>
					</div>
				</div>
            <!--/div>
        </div>
    </div-->
	</span>
	
</div>

